{% extends "template.html" %}

{% block content %}
<section class="content">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h4>Cadastro de Modalidade</h4>
            </div>
            <div class="body">
                <form action="salvar" method="post" enctype="multipart/form-data">

                    <div class="row">
                        <div class="col-sm-12 codigo">
                            <div class="form-group">
                                <div class="form-line">
                                    <label>Nome</label>
                                    <input type="text" class="form-control codigo" name="nome" placeholder="Nome" required="required">
                                    <p class="help-block" id="textCod"></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <input type="hidden" name="csrf" value="<?=csrfToken()?>">
                    <input type="hidden" name="cmd" value="salvar">
                    <button type="submit" class="btn btn-primary" id="submit">Salvar</button>
                </form>
            </div>
        </div>
    </div>
</section>
<script>
    $("select").select2({ width: '100%' });
</script>
{% endblock %}